body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

form {
    width: 60%;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Styling links */
a {
    text-decoration: none;
    color: #3498db;
    margin-right: 10px;
}

a:hover {
    color: #2980b9;
}

/* Additional styles for login form */
.login-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
}

.login label,
.login input[type='text'],
.login input[type='password'],
.login input[type='submit'] {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.login label {
    background-color: #4CAF50;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.login input[type='password'],
.login input[type='text'] {
    background-color: #f4f4f4;
}

.login input[type='password']:focus,
.login input[type='password']:hover
