body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    width: 200px;
    margin: 0 auto;
}

a:hover {
    background-color: #2980b9;
}
